Q1. Create one variable containing following type of data:(i) string (ii) list (iii) float (iv) tuple

In [1]:
my_str = "pwskills"

In [2]:
my_list = [6,7,8,9,1,2]

In [3]:
my_float = 6.7

In [4]:
my_tuple = ("car","bike","cycle","helicopter")

Q2. Given are some following variables containing data:(i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1. What will be the data type of the above given variable.

In [ ]:
var1 is a string
var2 is a string
var3 is a list
var4 is an integer

Q3. Explain the use of the following operators using an example:(i) /(ii) %(iii) //(iv) **

 (i) / (Division Operator):The division operator '/' is used for performing division between two numbers.

In [18]:
a = 18
b = 5
result = a / b
print(result)

3.6

(ii) '%' (Modulo Operator):The modulo operator '%' is used to find the remainder after division between two numbers.

In [13]:
a = 18
b = 5
result = a % b
print(result)

3

(iii) '//' (Floor Division Operator):The floor division operator '//' is used to perform division between two numbers.

In [14]:
a = 23
b = 3
result = a // b
print(result)

7

(iv) '**' (Exponentiation Operator):The exponentiation operator '**' is used to raise a number to the power of another number.

In [17]:
a = 2
b = 3
result = a ** b
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [23]:
l = [4,5,6,7,8,9,"pwskills",True,31.2,4+5j]

for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [26]:
A = 25
B = 5

c = 0 

while A % B == 0:
    A = A // B 
    c += 1  

print("Number A is divisible by B", c, "times.")

Number A is divisible by B 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [42]:
my_list = [99, 12, 5, 18, 21, 7, 30, 14, 27, 8, 33, 16, 3, 36, 20, 39, 4, 42, 25, 45, 28, 50, 31, 54, 6]

for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3.")
    else:
        print(element, "is not divisible by 3.")

99 is divisible by 3.
12 is divisible by 3.
5 is not divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
7 is not divisible by 3.
30 is divisible by 3.
14 is not divisible by 3.
27 is divisible by 3.
8 is not divisible by 3.
33 is divisible by 3.
16 is not divisible by 3.
3 is divisible by 3.
36 is divisible by 3.
20 is not divisible by 3.
39 is divisible by 3.
4 is not divisible by 3.
42 is divisible by 3.
25 is not divisible by 3.
45 is divisible by 3.
28 is not divisible by 3.
50 is not divisible by 3.
31 is not divisible by 3.
54 is divisible by 3.
6 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are those whose values can be modified after they are created.

In [33]:
n = [1,2,3,"ak","pwskills",True,3+4j]

In [34]:
#replacing 'ak' with False
n

[1, 2, 3, 'ak', 'pwskills', True, (3+4j)]

In [37]:
n[3]=False

In [38]:
n

[1, 2, 3, False, 'pwskills', True, (3+4j)]

Immutable data types are those whose values cannot be changed after they are created.

In [39]:
p = 'pravin'

In [41]:
p[2]='e'

TypeError: 'str' object does not support item assignment